/* small screen rules */
@media (min-width:30.063em) {
	body {
		font-size: 2em;
		margin-top: 2%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 0;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.6em;
	}

	#next {
		font-size: 3em;
	}

	#last {
		font-size: 3em;
	}
}

/* large screen rules */
@media (min-width:64.063em) {
	body {
		font-size: 1.2em;
		margin-top: 5%;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 10%;
	}
	#next {
		font-size: 1em;
	}
	#last {
		font-size: 1em;
	}
}

body {
	line-height: 1.6;
	font-weight: lighter;
	color: whitesmoke;
	background-color: rgb(65, 65, 65);
	font-family: 'Ubuntu', sans-serif;
}

h5 {
	color: gray;
}

a {
	color: peru;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 1px solid white;
	width: 100%;
	height: auto;
}

hr {
	border-top: 2px solid white;
}

pre {
	overflow: auto;
	font-family: 'Ubuntu Mono', monospace;
}

strong {
	font-weight: 900;
}

#next {
	float: right;
}

#last {
	float: left;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.quote {
	font-style: italic;
	display: block;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	background-color: steelblue;
	border-left: 3px solid lightblue;
}

.grey {
	color: grey;
}