@media (min-width:30.063em) { 
	body {
		font-size: 2em;
		margin-top: 2%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 0;
	}
	h1 {
		font-size: 2em;
	}
	#next {
		font-size: 3em;
	}
	
	#last {
		font-size: 3em;
	}
}

@media (min-width:64.063em) { 
	body {
		font-size: 1em;
		margin-top: 5%;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 10%;
	}
	#next {
		font-size: 1em;
	}
	
	#last {
		font-size: 1em;
	}
}

body {
	line-height: 1.6;
	font-weight: lighter;
	color: whitesmoke;
	background-color: dimgray;
	font-family: 'Ubuntu', sans-serif;
}

h5 {
	color: gray;
}

a {
	color: peru;
	text-decoration: none;
}

img {
	border: 1px solid white;
	width: 100%;
	height: auto;
}

hr {
	border-top: 2px solid white;
}

pre {
	display: inline;
}

#next {
	float: right;
}

#last {
	float: left;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.quote {
	display: block;
	padding-left: 1em;
	background-color: steelblue;
	border-left: 3px solid lightblue;
}

.grey {
	color: grey;
}