/* small screen rules */
@media (max-width:1000px) {
	body {
		margin-top: 2%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 0;
	}

	h1 {
		font-size: 6em;
	}

	h2 {
		font-size: 4em;
	}
	
	h3 {
		font-size: 4em;
	}

	p, ol, li {
		font-size: 3em;
	}

	#next, #last {
		font-size: 5em;
	}
}

/* large screen rules */
@media (min-width:1001px) {
	body {
		margin-top: 5%;
		margin-left: 25%;
		margin-right: 25%;
		margin-bottom: 10%;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 2em;
	}

	p, ol, li {
		font-size: 1.3em;
	}

	#next, #last {
		font-size: 2em;
	}
}

/* general rules */
body {
	line-height: 1.6;
	font-weight: lighter;
	color: whitesmoke;
	background-color: #3a404b;
	font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
	color: darkorange;
}

h3 {
	color: lightgray;
}

a {
	color: darkorange;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	display: block;
	border: 1px solid white;
	max-height: 50vh;
	max-width:100%;
	width: auto;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

hr {
	border-top: 2px solid white;
}

pre {
	overflow: auto;
	font-family: 'Ubuntu Mono', monospace;
}

strong {
	font-weight: 900;
}

ul {
	list-style-type: square;
}

#next {
	float: right;
}

#last {
	float: left;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.quote {
	font-style: oblique;
	display: block;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	border-left: 3px solid darkorange;
}

.grey {
	color: grey;
}